.sofia_head{
    position: absolute;
    left: 52.2%;
    top: 65%;
}

.bird{
    position: absolute;
    left: 64.6%;
    top: 64%;
}

.bottle{
    position: absolute;
    left: 59.1%;
    top: 73%;
}

.ball{
    position: absolute;
    left: 41.4%;
    top: 73%;
}
.michael{
    position: absolute;
    left: 31.3%;
    top: 56%;
}

.butterfly{
    position: absolute;
    left: 42.4%;
    top: 80.5%;
}

.no_bug{
    position: absolute;
    left: 58%;
    top: 62%;
}

.flower{
    position: absolute;
    left: 26.9%;
    top: 68.7%;
}

.slide{
    position: absolute;
    left: 26.9%;
    top: 53%;
}