.text {
  font-family:cursive;
  font-size: 32px;
  font-size: 4vw;
  font-size: 4vh;
  font-weight: 200;
  text-align: left;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 10%;
  color: rgb(19, 61, 138);
}

.Game_16{
  background-size: contain;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url(./Sofia_Images/Page_16.JPG);
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
}

.leftBtn {
  position: fixed;
  transition: .5s ease;
  bottom: 0%;
  left: 0%;

}

.rightBtn {
  position:fixed;
  transition: .5s ease;
  bottom: 0%;
  right: 0%;
}
.sound{
    position:absolute;
    transition: .5s ease;
  top: 10%;
  border-radius: 40%;
  opacity: 0.3;
}
.Image1{
  position: absolute;
  left: 48.7%;
  top: 62.37%;
  max-width: 1px;
  max-height: 1px;
  min-width: 1px;
  min-height: 1px;
  background-color: rgb(0, 0, 0, 0);
  border-color: rgb(0, 0, 0, 0);
  outline-color: rgb(0, 0, 0, 0);
}

.Image1:hover{
  background-color: rgb(0, 0, 0, 0);
  border-color: rgb(0, 0, 0, 0);
}
.Image2{
  position: absolute;
  left: 58.2%;
  top: 70.9%;
  max-width: 1px;
  max-height: 1px;
  min-width: 1px;
  min-height: 1px;
  background-color: rgb(0, 0, 0, 0);
  border-color: rgb(0, 0, 0, 0);
  outline-color: rgb(0, 0, 0, 0);
}
.Image2:hover{
  background-color: rgb(0, 0, 0, 0);
  border-color: rgb(0, 0, 0, 0);
}
.Image3{
  position: absolute;
  left: 28.4%;
  top: 53.7%;
  max-width: 1px;
  max-height: 1px;
  min-width: 1px;
  min-height: 1px;
  background-color: rgb(0, 0, 0, 0);
  border-color: rgb(0, 0, 0, 0);
  outline-color: rgb(0, 0, 0, 0);
}
.Image3:hover{
  background-color: rgb(0, 0, 0, 0);
  border-color: rgb(0, 0, 0, 0);
}
.Image4{
  position: absolute;
  left: 40%;
  top: 72%;
  max-width: 1px;
  max-height: 1px;
  min-width: 1px;
  min-height: 1px;
  background-color: rgb(0, 0, 0, 0);
  border-color: rgb(0, 0, 0, 0);
  outline-color: rgb(0, 0, 0, 0);
}
.Image4:hover{
  background-color: rgb(0, 0, 0, 0);
  border-color: rgb(0, 0, 0, 0);
}
.Image5{
  position: absolute;
  left: 24.9%;
  top: 52%;
  max-width: 1px;
  max-height: 1px;
  min-width: 1px;
  min-height: 1px;
  background-color: rgb(0, 0, 0, 0);
  border-color: rgb(0, 0, 0, 0);
  outline-color: rgb(0, 0, 0, 0);
}
.Image5:hover{
  background-color: rgb(0, 0, 0, 0);
  border-color: rgb(0, 0, 0, 0);
}
.Image6{
  position: absolute;
  left: 63.6%;
  top: 62.87968%;
  max-width: 1px;
  max-height: 1px;
  min-width: 1px;
  min-height: 1px;
  background-color: rgb(0, 0, 0, 0);
  border-color: rgb(0, 0, 0, 0);
  outline-color: rgb(0, 0, 0, 0);
}
.Image6:hover{
  background-color: rgb(0, 0, 0, 0);
  border-color: rgb(0, 0, 0, 0);
}
.Image7{
  position: absolute;
  left: 56%;
  top: 60%;
  max-width: 1px;
  max-height: 1px;
  min-width: 1px;
  min-height: 1px;
  background-color: rgb(0, 0, 0, 0);
  border-color: rgb(0, 0, 0, 0);
  outline-color: rgb(0, 0, 0, 0);
}
.Image7:hover{
  background-color: rgb(0, 0, 0, 0);
  border-color: rgb(0, 0, 0, 0);
}
.Image8{
  position: absolute;
  left: 25.4%;
  top: 66.9%;
  max-width: 1px;
  max-height: 1px;
  min-width: 1px;
  min-height: 1px;
  background-color: rgb(0, 0, 0, 0);
  border-color: rgb(0, 0, 0, 0);
  outline-color: rgb(0, 0, 0, 0);
}
.Image8:hover{
  background-color: rgb(0, 0, 0, 0);
  border-color: rgb(0, 0, 0, 0);
}
.Image9{
  position: absolute;
  left: 41.5%;
  top: 79.2%;
  max-width: 45px;
  max-height: 45px;
  min-width: 45px;
  min-height: 45px;
  background-color: rgb(0, 0, 0, 0);
  border-color: rgb(0, 0, 0, 0);

}
.Image9:hover{
  background-color: rgb(0, 0, 0, 0);
  border-color: rgb(0, 0, 0, 0);
}
.lab{
  font-family: verdana;
  font-size: 30px;
  font-size: 4vw;
  font-size: 4vh;
  font-weight: 200;
  color: blue;
}



