.text {
  font-family: verdana;
  font-size: 30px;
  font-weight: 200;
  text-align: left;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 7%;
}

.leftBtn {
  position:absolute;
  transition: .5s ease;
  top: 50%;
  left: 0%;
}

.rightBtn {
  position:absolute;
  transition: .5s ease;
  top: 50%;
  right: 0%;
}

