.text {
  font-family: verdana;
  font-size: 30px;
  font-size: 4vw;
  font-size: 4vh;
  font-weight: 200;
  text-align: left;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 10%;
}

.leftBtn {
  position:absolute;
  transition: .5s ease;
  bottom: 0%;
 left: 0%;
}

.rightBtn {
  position:absolute;
  transition: .5s ease;
  bottom: 0%;
  right: 0%;
}
<<<<<<< HEAD
.sound{
    position:absolute;
    transition: .5s ease;
    right:50%;
  bottom: 0%;
  border-radius: 40%;
  opacity: 0.3;
}
=======

>>>>>>> Pages
