.home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url(../landing_page_image.jpg);
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
  background-color: rgb(5, 6, 25);
}

.home-card {
  margin-top: 2rem;
  transition: 500ms;
  padding: 2rem 2rem 2rem 2rem;
  text-align: center;
  font-size: 20px;
  text-align: left;
}

.home-card:hover {
  box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
}

.logo {
  text-align: center;
  float: left;
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
}

.btn {
  color: rgb(255, 255, 255);
  width: 170px;
  height: 50px;
  font-size: 18px;
  margin: 1rem 1rem 1rem 1rem;
  display: block;
  border-radius: 0.5rem;
  font-weight: bold;
  text-decoration: none;
}

.btn_1 {
  background-color: rgb(123, 4, 13);
}

.btn_2 {
  background-color: rgb(166, 69, 9);
}

.btn_2:hover {
  color: white;
}

.btn_3 {
  background-color: rgb(127, 58, 217);
}

.btn_4 {
  background-color: rgb(121, 138, 190);
}

.alt_text1{
  position: relative;
  bottom: 0%;
}
